.bridge-section-wrapper{
    display: flex;


}
.deposit-withdraw-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deposit-withdraw-group{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    gap: 10px;
}

.deposit-withdraw-section{
    color: #282c34;
    font-size: 14pt;
    margin: 10px;
    background-color: burlywood;
    border-radius: 50px;
}

#NFT-Token{

}

#AddItem{
    margin-top: 10px;
}
#RemoveItem{
    margin-top: 10px;
    margin-left: 10px;

}
#Submit{
    margin-top: 10px;
    margin-left: 10px;

}
#Apply{
    margin-top: 10px;
    margin-right: 42px;

  }
.InputNFT{
    margin-top: 15px;
    margin-bottom: 15px;
}
.InputETH{
    margin-top: 15px;
    margin-bottom: 15px;
}
.input-border {
    border-color: #FF0000 !important;
}