.bridge-section-wrapper{
    display: flex;


}
.deposit-withdraw-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deposit-withdraw-group{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    gap: 10px;
}

.deposit-withdraw-section{
    color: #0E1118;
    font-size: 14pt;
    margin: 10px;
   /* background-color: burlywood; */
    border-radius: 50px;
    border: 1px #23C6DD;
}

#NFT-Token{

}

#AddItem{
    margin-top: 10px;
}
#RemoveItem{
    margin-top: 10px;
    margin-left: 10px;

}
#Submit{
    margin-top: 10px;
    margin-left: 10px;

}
#Apply{
    margin-top: 10px;
    margin-right: 42px;

  }
.InputNFT{
    margin-top: 15px;
    margin-bottom: 15px;
}
.InputETH{
    margin-top: 15px;
    margin-bottom: 15px;
}

.text-field{
    width: 500px;


}