.bridge-section-wrapper{
    display: flex;


}
.deposit-withdraw-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deposit-withdraw-group{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 25px;
    gap: 10px;
}

.deposit-withdraw-section{
    color: white;
    font-size: 14pt;
   /* background-color: burlywood;*/
    border-radius: 30px;
    margin: 40px;
    padding: 10px;
    border: 4px solid #23C6DD;
}

.inventory-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.inventory-item{
    border: 4px solid #23C6DD;
    border-radius: 5px;
}

.text-field{
width: 500px;


}


